body { 
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color:#5D6165;
  background: white;
}

.container {
  background: linear-gradient(67.6deg, rgb(225, 242, 254) -4.8%, rgb(193, 224, 250) 44.6%, rgb(102, 178, 244) 102.4%);
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  padding: 30px;
  border-radius: 10px
}

.weekly-forecast {
  color: #294CA3;
}

.lo-temp {
  color:#5D6165;
}

.hi-temp {
  color:#294CA3;
  font-weight:bold;
}

.farenheit {
  font-weight: bold;
}

.additional-info {
  font-size: 13px;
}

.temp-scale {
  font-size: 16px;
}

.desc {
  font-size: 13px;
}

h1 {
  font-size: 78px;
  margin-top:7px;
  font-weight:400;
  color: #294CA3;
}

h2 {
  margin-bottom: .5%;
  font-weight: 600;
  color: #294CA3;
}

p {
  margin-top: 0;
}

footer {
  font-size: 12px;
}

.daily-temp .emoji {
  font-size: 30px;
  padding-bottom: 30px;
}

.temp {
  font-size:
}

.weekly-forecast {
  display: grid;
  margin-top: -7%;
  grid-template-columns: repeat(5, 1fr); /* Adjust the number and size of columns as needed */
  gap: 22px; /* Adjust the gap between columns */
}

.search-bar {
  text-align: center;
  margin-top: .5%;
  padding: 2%;
}


.additional-info {
  text-align: right;
}

.weekly-forecast {
  text-align: center;
}

.column-1.daily-temp {
  margin-top:-15%;
}

.weekly-forecast .emoji {
  padding: 5px;
}

.flex-container {
  display: inline-flex;
  margin-top: 1%;
  padding-bottom:8%;
  width: 100%;
  /* Other flex properties can be applied here */
}

.flex-item {
  font-size:13px;
}

.flex-container .daily-temp-icon {
  font-size:45px;

}

.flex-container .daily-temp {
  font-size: 78px;
  margin-top: -15px;
  color: #294CA3;
  /* Styling for flex items */
}

.flex-container .farenheit {
  color: #294CA3;
}

.flex-container .temp-scale{
  font-size: 16px;
  /* Styling for flex items */
}

.flex-container .additional-info{
  text-align: right;
  padding-left: 39%;
  /* Styling for flex items */
}